# Talismane .gitignore
*/.classpath
*/.project
*/.settings/
*/bin/
*/build/
*/doc/
dist/
distTerminology/
talismane_core/languagePacks/englishLanguagePack/*.zip
talismane_core/languagePacks/frenchLanguagePack/*.zip
